html,
body {
        margin: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
}

*,
*:before,
*:after {
        box-sizing: border-box;
}

.box {
        padding: 10px;
        border-style: solid;
        border-width: 3px;
        border-color: white;
}

#PathBox {
        width: 500px;
        position: absolute;
        top: 34%;
        left: 15%;
}

#PathBoxInfo {
        width: 150px;
        position: absolute;
        top: 34%;
        left: 63.4%;
}

#PathBox1 {
        width: 500px;
        position: absolute;
        top: 34%;
        left: 15%;
}

#PathBoxInfo1 {
        width: 150px;
        position: absolute;
        top: 34%;
        left: 63.4%;
}

p.infoP {
        font-family: "Trebuchet MS";
}

h1 {
        color: #fff;
        position: relative;
        position: absolute;
        left: 50%;
        top: 20%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        white-space: nowrap;
}

.infoP {
        padding-left: 30px;
        color: #fff;
        font-size: 18px;
}

h2 {
        color: #fff;
        white-space: nowrap;
}

.codeName {
        text-align: center;
        font-weight: 600;
        color: #fff;
        white-space: nowrap;
}

h1:after {
        content: "";
        position: absolute;
        width: 0;
        height: 4px;
        left: 0;
        bottom: -8px;
        background: #fff;
        transition: 500ms all ease-in-out;
}

a.cta {
        display: block;
        position: absolute;
        height: 50px;
        line-height: 50px;
        width: 120px;
        text-align: center;
        color: #fff;
        text-decoration: none;
        left: 50%;
        bottom: 20%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        border: 2px solid #fff;
        font-size: 0.75em;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
}

a.cta:before {
        content: "";
        background: #fff;
        height: 0;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 300ms all ease-in-out;
}

a.cta:hover:before {
        height: 4px;
}

#showBox {
        width: 300px;
        position: absolute;
        left: 39%;
        text-align: center;
        border: #FEFBFC;
        border-style: solid;
        border-width: 2px;
}

#showCode {
        font-size: 30px;
        text-align: center;
        font-weight: 600;
        color: #fff;
}


#whatsNext {
        margin-top:200px;
        position: relative;
        border-radius: 4px;
        background-color: #FEFBFC;
        border: none;
        color: #1A1978;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 500px;
        transition: all 0.5s;
        cursor: pointer;
        font-family: "Trebuchet MS";
}

#whatsNext span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
}

#whatsNext span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
}

#whatsNext:hover span {
        padding-right: 25px;
}

#whatsNext:hover span:after {
        opacity: 1;
        right: 0;
}

#showResults {
        text-align: center;
        padding-top: 100px;
        margin-top: 20px;
        height: 1000px;
        background-color: #1A1978;
}

.container {
        background: #09f;
        width: 100%;
        height: 100%;
        position: relative;
}

.container .one-half {
        position: absolute;
        width: 50%;
        height: 100%;
        overflow: hidden;
}

.container .one-half.left {
        left: 0;
        background: url("http://jurathefilm.com/wp-content/uploads/2015/02/homepage_panorama_1920.jpg") center center no-repeat;
        background-size: cover;
}

.container .one-half.left:before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #e6ac00;
        position: absolute;
}

.container .one-half.right {
        right: 0;
        background: url("http://www.kocakogluyazilim.com/img/webYazilim.jpg") center center no-repeat;
        background-size: cover;
}

.container .one-half.right:before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #1aa3ff;
        position: absolute;
}

.container .one-half.left,
.container .one-half.right {
        transition: 500ms all ease-in-out;
}

.container .one-half.left:before,
.container .one-half.right:before {
        transition: 500ms all ease-in-out;
}

.container.left-is-hovered .left {
        width: 85%;
}

.container.left-is-hovered .left h1:after {
        width: 100%;
}

.container.left-is-hovered .right {
        width: 15%;
}

.container.left-is-hovered .right:before {
        background-color: rgba(26, 163, 255, 0.65);
        z-index: 2;
}

.container.right-is-hovered .right {
        width: 85%;
}

.container.right-is-hovered .right h1:after {
        width: 100%;
}

.container.right-is-hovered .left {
        width: 15%;
}

.container.right-is-hovered .left:before {
        background-color: rgba(230, 172, 0, 0.65);
        z-index: 2;
}