* {
    box-sizing: border-box;
}


#main {
    height: 80%;
}

#image_container {
    margin-top: 5vh;
}

#footer {
    margin-top: 300px;
}

img {
    display: inline-block;
    width: 100%;
}

.row {
    justify-content: center;
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}
/*Images for pathways must have     
    max-width: 582px;
    max-height: 360px;

!!!!!!!!Also adjust the banner size!!!!!!!
*/
/* Create four equal columns that sits next to each other */

.column {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.thumbnail {
    overflow: hidden;
}

.thumbnail img {
    margin-top: 8px;
    vertical-align: middle;
    transition: transform .6s ease .1s; 
    -webkit-transition:-webkit-transform .6s ease .1s;
}

.thumbnail:hover img{
    transform: scale(1.3); -webkit-transform: scale(1.3);
    transition:transform .6s ease;  
  }
  

/* Responsive layout - makes a two column-layout instead of four columns */

@media (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}


/*
</head>
<body>

<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#Riasec">Riasec</a></li>
  <li><a href="#Classes">Classes</a></li>
  <li><a href="#Colleges">Colleges</a></li>
  <li><a href="#WHSwebsite">WHS Website</a></li>
</ul>
*/







/*Slideshow Code*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 45%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Caption text */
.text {
  color: black;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 5s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .7} 
  to {opacity: 3}
}

@keyframes fade {
  from {opacity: .7} 
  to {opacity: 3}
}
