.Bullets ul {
    list-style-type: none;
}
* {
    box-sizing: border-box;
}
h4 {
    font-size:36px;
}
#Riasec_Info {
    margin-top:150px;
}
#main {
    height: 80%;
}
#About {
    padding:50px;
    margin-top:150px;
}
#image_container {
    margin-top: 5vh;
}

#footer {
    margin-top: 300px;
}

img {
    display: inline-block;
    width: 100%;
}

.row {
    justify-content: center;
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}
/*Images for pathways must have     
    max-width: 582px;
    max-height: 360px;

!!!!!!!!Also adjust the banner size!!!!!!!
*/
/* Create four equal columns that sits next to each other */

.column {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.thumbnail {
    overflow: hidden;
}

.thumbnail img {
    margin-top: 8px;
    vertical-align: middle;
    transition: transform .6s ease .1s; 
    -webkit-transition:-webkit-transform .6s ease .1s;
}

.thumbnail:hover img{
    transform: scale(1.3); -webkit-transform: scale(1.3);
    transition:transform .6s ease;  
  }
  

/* Responsive layout - makes a two column-layout instead of four columns */

@media (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}


/*
</head>
<body>

<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#Riasec">Riasec</a></li>
  <li><a href="#Classes">Classes</a></li>
  <li><a href="#Colleges">Colleges</a></li>
  <li><a href="#WHSwebsite">WHS Website</a></li>
</ul>
*/







/*Slideshow Code*/


/*Another Slide Show Code*/

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  max-width: 45%;
  position: relative;
    margin: auto;
    margin-top: 400px;
    margin-bottom: 50px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
  max-width: 45%;
}

.active,
.demo:hover {
  opacity: 1;
}

.bundle {
  height: 50vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  background-image: url(http://www.self-directed-search.com/portals/4/RIASEC_graphic_just_letters-300px.png);
  background-repeat: no-repeat;
  background-position: left;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

.slide1 {
  height: 5vh;
  background-color: none ;
  padding-left: 320px;
}

.slide1 h1 {
  color: red;
  margin-bottom: 0px;
}

.slide1 p {
  margin-top: 0px;
  
}

.slide2 {
  height: 5vh;
  background-color: none ;
  padding-left: 320px;
}

.slide2 h1 {
  color: #F7A748;
  margin-bottom: 0px;
}


.slide2 p {
  margin-top: 0px;
  
}

.slide3 {
  height: 5vh;
  background-color: none ;
  padding-left: 320px;
}

.slide3 h1 {
  color: #FFDA45;
  margin-bottom: 0px;
}

.slide3 p {
  margin-top: 0px;
  
}

.slide4 {
  height: 5vh;
  background-color: none ;
  padding-left: 320px;
} 

.slide4 h1 {
  color: #4D9851;
  margin-bottom: 0px;
}

.slide4 p {
  margin-top: 0px;
  
}

.slide5 {
  height: 5vh;
  background-color: none ;
  padding-left: 320px;
}

.slide5 h1 {
  color: #4692E7;
  margin-bottom: 0px;
}

.slide5 p {
  margin-top: 0px;
  m
}

.slide6 {
  height: 5vh;
  background-color: none ;
  padding-left: 320px;
}

.slide6 h1{
  color: #A68FF7;
 margin-bottom: 0px;
}

.slide6 p {
  margin-top: 0px;

}
/*
.slide1 h1,p {
  background-color: white;
}
.slide2 h1 {
  background-color: white;
}
.slide3 h1 {
  background-color: white;
}
.slide4 h1 {
  background-color: white;
}
.slide5 h1 {
  background-color: white;
}
.slide6 h1 {
  background-color: white;
}*/


a.tesButton {
  padding: 8px 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 150%;
  background: #353D8A; /*#3366cc*/
  color: #fff;
  border: 1px solid #3366cc;
  border-radius: 100px;
  width: 300px;
}


#lastP {
   margin-bottom: 50px;
}