body {
  height: 100%;
  margin: 0
}


.ActivePath {
  color:gold;
  background-color:blue;
}
#interestCode {
  letter-spacing: 5px;
  text-decoration: underline;
}

#academyName {
  padding-top:4%;
  text-decoration: underline;
}

.userPath {
  background: white;
  padding: 10px 30px;
  border: 1px #eee solid;
}

#pictureBox {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.picture {
  display:flex;
  height:200px;
  width:200px;
  border-style:solid;
  border-color: black;
  margin:20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
img {
  height:200px;
  width:200px;
}
h2 {
  font-size:25px;
  text-align:center;
}


.flexArrow {
  display:flex;
  flex-direction: row;
}
.userPath {
  padding:10px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

#pathways {
  margin-top:30px;
  height: 35%;
  width: 65vh;
  background: white;
  border: 1px #eee solid;

}

h1 {
    font-weight: 600;
    font-size: 18px;
    font-family: 'Open Sans', Courier, monospace;
}

#PathwayInfo {
  margin-top:10px;
  height: 96vh;
  width: 200vh;
  background: white;
  padding: 10px 30px;
}

#riasec {
  color: olive;
  font-size: 550%;
  margin-top: 100px;
}

p {
  margin-left:30px;
}
h1 {
  text-align: center;
}

#MoreInfoBox {
  margin-top:4vh;
  padding-top:250px;
  text-align: center;
}