body {
  height: 100%;
  margin: 0;
  background-color: #FEFBFC;
}

.ActivePath {
  color: gold;
  background-color: blue;
}

.circle {
  width:50px;
  height:50px;
  border-radius: 100%;
  background-color: red;
}

#interestCode {
  letter-spacing: 5px;
  text-decoration: underline;
}

#academyName {
  margin: 0;
  font-size: 42px;
  padding-top: 4%;
}

.userPath {
  color: #FEFBFC;
  background: #E6AC00;
  padding: 30px;
  padding-left: 40px;
  border-bottom: 3px #eee solid;
  font-size: 30px;
}

.userPath {
  transition: all .2s ease-in-out;
}

.userPath:hover {
  color:navy;
  transform: scale(1.1);
}

#pictureBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.picture {
  display: flex;
  height: 200px;
  width: 200px;
  border-style: solid;
  border-color: black;
  margin: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

img {
  height: 200px;
  width: 200px;
}

h2 {
  font-size: 25px;
  text-align: center;
}

.flexArrow {
  display: flex;
  flex-direction: row;
}

.userPath {
  padding: 10px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

#pathways {
  margin-right: 15px;
  margin-top: 1px;
  height: auto;
  width: 65vh;
  color: #FEFBFC;
  background: #E6AC00;
  box-shadow: 10px 10px grey;
}

#about {
  width: 500px;
  border-style: solid;
  border-color: #FEFBFC;
  line-height: 24px;
  font-size: 18px;
  padding: 30px;
  border-radius: 3%;
}

h1 {
  padding-left: 40px;
  font-weight: 600;
  font-size: 30px;
  font-family: 'Open Sans', Courier, monospace;
}

#PathwayInfo {
  background-color: #1AA3FF;
  color: #FCEAEF;
  margin-top: 2px;
  height: 96vh;
  width: 200vh;
  padding: 10px 30px;
}

#riasec {
  color: olive;
  font-size: 550%;
  margin-top: 100px;
}

p {
  margin-left: 30px;
}

h1 {
  font-weight: 600;
}

#MoreInfoBox {
  margin-top: 4vh;
  padding-top: 250px;
  text-align: center;
}
p#about {
  font-family: "Trebuchet MS";
}

p#classes {
  font-family: "Trebuchet MS";
}
