body {
  height: 100%;
  margin: 0
}

#interestCode {
  letter-spacing: 5px;
  text-decoration: underline;
}

#academyName {
  padding-top:4%;
  text-decoration: underline;
}

#pictureBox {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.picture {
  display:flex;
  height:100px;
  width:200px;
  border-style:solid;
  border-color: black;
  margin:20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size:25px;
}


.flexArrow {
  display:flex;
  flex-direction: row;
}
.userPath {
  border-bottom:5px solid black;
  padding:10px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 800px) {
  .flex-container {
    display: flex;
    flex-direction: column;
  }
  #pathways {
    height: 50vh;
    max-width: 800px;
    background-color: red;
  }
  #PathwayInfo {
    height: 100vh;
    max-width: 100px;
    background-color: blue;
  }
}

#pathways {
  height: 100vh;
  width: 65vh;
  border-style:solid;
  border-width:2px;
}

#PathwayInfo {
  height: 100vh;
  width: 200vh;
  border-style:solid;
  border-width:2px;
}

#riasec {
  color: olive;
  font-size: 550%;
  margin-top: 100px;
}

p {
  margin-left:30px;
}
h1 {
  text-align: center;
}

#MoreInfoBox {
  padding-top:250px;
  text-align: center;
}