#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
}

@keyframes fadeInTransition {
    0% { bottom:-150px;opacity:0 } 
    50% { bottom:-50px; opacity:1 }
    100% { bottom:-40px;; opacity:0 }
}

@keyframes LastfadeInTransition {
    0% { bottom:-150px;opacity:0 } 
    50% { bottom:-50px; opacity:1 }
    100% { bottom:-45px;; opacity:1 }
}

.fadeInTransition {
    animation: fadeInTransition 1s forwards;
}
.LastfadeInTransition {
    animation: LastfadeInTransition 1s forwards;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

@keyframes scale {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        transform: scale(1.0);
    }
    75% {
        opacity: 1;
        transform: scale(0.8);
    }
    90% {
        transform: scale(0.9);
    }
    100% {
    }
}

#myDiv {
  display: none;
  text-align: center;
}

#list {
    position:absolute;
    left:-50%;
}

#motto {
    margin-top:120px;
}

@keyframes fadeOut { 
    0% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

#logo {
    animation: scale 1s forwards;
    position:absolute;
    top:-430px;
    width: 400%;
    height:450%;
}

.MyVCF {
    position: absolute;
    right:290px;
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    white-space: nowrap;
}

.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}