body {
  margin: 0;
}

#QuestionsContainer {
  margin-top:50px;
  font-family: 'Courier New', Courier, monospace;
  align-items: center;
  justify-content: center;
}

#questionIcon {
  color:black;
  font-size:30px;
  border:0;
}
.InputContainer {
  margin-left:5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#YesBox {
  font-size:32px;
  margin:30px;
  height:30px;
  width:90px;
}

#NoBox {
  font-size:32px;
  margin:30px;
  margin-right:90px;
  height:30px;
  width:90px;
}


#riasecProgress {
    background-color: whiteSmoke;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
  
    width: 250px;
    height: 20px;
    
    position: relative;
    text-align:center;
    display: block;
  }


  #riasecProgress[value]::-webkit-progress-value {
    background-image:
       -webkit-linear-gradient(-45deg, 
                               transparent 33%, rgba(0, 0, 0, .1) 33%, 
                               rgba(0,0, 0, .1) 66%, transparent 66%),
       -webkit-linear-gradient(top, 
                               rgba(255, 255, 255, .25), 
                               rgba(0, 0, 0, .25)),
       -webkit-linear-gradient(left, #09c, #f44);
  
      border-radius: 2px; 
      background-size: 35px 20px, 100% 100%, 100% 100%;
  }
#main {
  color: yellow;
}

p {
  font-weight: 600;
  font-size: 18px;
  font-family: 'Open Sans', Courier, monospace;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 50px;
  height: 50px;
  margin: 5px;
  line-height: 50px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.flex-container {
  padding: 0;
  margin-right: 150px;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

#circleContainer {
  justify-content: flex-start;
}

.circles {
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 100%;
}

button {
  margin-right: 50px;
}

#container {
  display: flex;
  flex-direction: row;
}

#previous {
  margin-right: 0;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

i {
  border: solid #A74970;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

#next {
  margin-left: 710px;
  display: flex;
  order: 2;
}

.questionForm {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  min-height: 1em;
}

.box {
  margin-top: 50px;
  height: auto;
  width: 1000px;
  margin-bottom: 50px;
}

input {
  margin-bottom: 14px;
}

.activeState {
  color: gold
}

label:hover {
  color: gold;
}

#btnCntrl {
  padding-left: 5%;
}

#buttonContainer {
  padding-left: 5%;
}

.btn {
  height:60px;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #E6AC00;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.btn:hover {
  background-color: #E6AC00
}

.btn:active {
  background-color: #E6AC00;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#submit {
  border-radius: 4px;
  background-color: #1AA3FF;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 500px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-bottom: 90px;
}

.retakeClass {
  border-radius: 4px;
  background-color: #1AA3FF;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 500px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-bottom: 90px;
}

#submit span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#submit span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#submit:hover span {
  padding-right: 25px;
}

#submit:hover span:after {
  opacity: 1;
  right: 0;
}

button {
  margin: 20px;
  padding: 4vh;
  width: 250px;
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
}

fieldset {
  width: 100%;
  background: white;
  padding: 10px 30px;
  border: 1px #eee solid;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

input {
  display: inline;
  text-align: center;
}