body {
  margin:0;
}
#QuestionsContainer {
  font-family: 'Courier New', Courier, monospace;
  align-items: center;
  justify-content: center;
}

p {
  font-size:2.7vh;
  font-family: 'Courier New', Courier, monospace;
}


button {
  margin-right:50px;
}

#container {
  display:flex;
  flex-direction: row;
}

#previous {
  margin-right:0;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

#next {
  margin-left:710px;
  display:flex;
  order:2;
}

.questionForm {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  min-height: 1em;
}

.box {
  margin-top:50px;
  overflow: auto;
  border-style: solid;
  height:500px;
  width:1000px;
  margin-bottom:50px;
}

input {
  margin-bottom:14px;
}


.activeState {
  color:gold
}
label:hover {
  color:gold;
}

button {
  margin:20px;
  padding:4vh;
  width:250px;
  border-radius:20%;
  margin-bottom:10vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

fieldset {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  border: 0;
}

input {
  display: inline;
  text-align: center;
}

