.center1 {
    margin: auto;
    width: 30%;
    padding: 30%;
    border: 1px solid blue
}
.SchoolName {
    margin: auto;
    width: 30%;
    padding: 30px;
}
body {
  background-image: url("WHS_Marauder_Logo,jpg");
}

/*The Marauder Logo will become the Body Background image*/
/*But I'm not sure how to move it to the corner*/
